<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}

        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
    </head>
    <body>
        <hr>
        {% block content %}{% endblock %}
    </body>

    <script src="//code.jquery.com/jquery-3.4.1.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    {% block script %}{% endblock %}
</html>